.color-palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 94vh;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    min-width: 330px;
    height: 100%;
}

.colors div {
    width: 33.3%;
    min-width: 110px;
}

.colors-actions {
    margin: 20px;
}

.color-tag {
    font-size: 2rem;
}