/* src/App.css */
.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: monospace;
  background-color: #524d52;
  color: white;
}

.landing-container input {
  font-family: monospace;
  color: white;
}